<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id="br.dotter.speech" version = "1.0.0">
		
    <name>SpeechRecognition</name>
    <description>
       SpeechRecognition
    </description>
	
	<author href="http://www.dotter.com.br" email="eduardo@dotter.com.br">
		Dotter do Brasil Ltda
    </author>
		
	<preference name="exit-on-suspend" value="true" />
	<preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce"    value="false" />
	
	<plugin name="com.indigoway.cordova.whitelist.whitelistplugin" source="pgb" />
	<plugin name="com.aserputko.speech.speechrecognition2" spec="0.1.1" source="pgb" />
	
    <content src="index.html" />
    <access origin="*"/>
	<access origin="content:///*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
	<allow-navigation href="data:*" />
    <preference name="fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />   
</widget>